Source: postgresql-content-utils
Section: universe/database
Priority: optional
Maintainer: Miles Elam <miles@geekspeak.org>
Build-Depends: debhelper (>=9), postgresql-server-dev-all
Standards-Version: 3.9.7
Homepage: https://github.com/ttfkam/pg_content_utils.git
Vcs-Git: https://github.com/ttfkam/pg_content_utils.git

Package: postgresql-content-utils
Architecture: all
Depends: postgresql-server (>=9.5), ${shlibs:Depends}, ${misc:Depends}
Description: Text utility extension for PostgreSQL
